/* #header {
    margin-bottom: 1cm;
  } */

header{
    height: 100vh;
    padding: top 7rem;
    overflow:hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}

.hh4{
    color: var(--color-primary);
}
/* CTA*/

.cta{
    margin-top: 2.5rem ;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* socials */

.header__socials{
    display: flex;
    flex-direction:column ;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* me */

.me{
    background: linear-gradient( var(--color-primary), transparent );
    width: 17rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 8.5rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
}

/* scrool down */
.scroll__down{
    position: absolute;
    right: 2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
    z-index: 1;

}

/* media queries(medium devices) */

@media screen and (max-width:1024px) {
     header{
        height: 68vh;
     }
    
}
/* media queries(small devices) */

@media screen and (max-width:600px) {
     header{
        height: 100vh;
     }
     .header__socials, .scroll__down{
        display:none;
     }
    
}

/* html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
} */

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-primary);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}